@using SSGeek.Controllers

@{
    string cssClass = "";
    if (TempData[BaseController.SUCCESS_MESSAGE_TYPE_KEY] != null)
    {
        MessageType type = (MessageType)TempData[BaseController.SUCCESS_MESSAGE_TYPE_KEY];

        if (type == MessageType.Error)
        {
            cssClass = "danger";
        }
        else
        {
            cssClass = type.ToString().ToLower();
        }
    }
}


@*<h3 class="label label-@cssClass">@TempData[BaseController.SUCCESS_MESSAGE_KEY]</h3>*@
<h3 style="background-color:lawngreen;text-align:center">@TempData[BaseController.SUCCESS_MESSAGE_KEY]</h3>
<br />&nbsp;
