@model SSGeek.Models.AlienWeightModel

<div style="width:1000px; height: 700px; margin: 15px auto; background-color:#fff; padding-left: 25px" ;>
    <h2>If you are @Model.EarthWeight lbs on planet Earth, you would weigh @Model.GetAlienWeight(Model.PlanetSelection, Model.EarthWeight) on @Model.PlanetSelection .</h2>
</div>