

@model SSGeek.Models.AlienTravelModel


<form method="get" action="@Url.Action("AlienTravelResult", "Calculators")">


    <div style="width:1000px; height: 700px; margin: 15px auto; background-color:#fff; padding-left: 25px" ;>

        <h1 style="text-align: center">Alien Travel Calculator</h1>
        <p></p>
        Choose a planet: <select name="PlanetSelection" style="margin-left: 100px">

            <option>Mercury</option>
            <option>Venus</option>
            <option>Mars</option>
            <option>Jupiter</option>
            <option>Saturn</option>
            <option>Neptune</option>
            <option>Uranus</option>

        </select>
        <p></p>

        Choose a mode of transport: <select name="TransportSelection" style="margin-left: 100px">

            <option>Walking</option>
            <option>Car</option>
            <option>Bullet Train</option>
            <option>Boeing 747</option>
            <option>Concorde</option>

        </select>
        <p></p>
        Enter your Earth Age: <span style="margin-left: 50px"> @Html.TextBoxFor(m => m.EarthAge) </span><br />
        <p></p>
        <input type="submit" value="Calculate Travel Time" name="Calculate Travel Time" style="margin-left: 225px" />
    </div>
</form>