@model SSGeek.Models.AlienAgeModel

<div style="width:1000px; height: 700px; margin: 15px auto; background-color:#fff; padding-left: 25px" ;>
    <h2>If you are @Model.EarthAge years old on planet Earth, then you are @Model.GetAlienAge(Model.PlanetSelection, Model.EarthAge) on @Model.PlanetSelection .</h2>
    </div>
